body {
  background-color: #3f3f3f;
  color: #dcdccc;
  font-family: "mononoki", monospace;
  font-size: 8vw;
  margin: auto;
  text-align: center;
}

a {
  background-color: #2b2b2b;
  color: #dcdccc;
  padding: 3px;
  text-decoration: none;
}

.highlight {
  background-color: #dcdccc;
  color: #3f3f3f;
}

#content {
  font-size: 2vw;
  width: 100%;
}

#countdown {
  width: 100%;
}

#startButton {
  background-color: #656555;
  border: none;
  color: #2b2b2b;
  font-family: "mononoki", monospace;
  font-size: 5vw;
}

#footer {
  font-size: 1vw;
}
